/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--accent-color);
  position: relative;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 10px;
}

.link {
  text-shadow: 1px 1px var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 1px solid var(--main-text-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px 0 ;
} 

/* Декоративные уголки */

/* Правый верхний */

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--corner-color);
  border-right: 1px solid var(--corner-color);
}

/* Нижний левый */

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
  bottom: 10px;
  left: 0px;
}

.rec {
  position: absolute;
  top: 10px;
  right: -2px;
  display: grid;
  grid-template-columns: repeat(2, minmax(25px, 1fr));
  width: 61px;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.889%;
  justify-self: end;

}

.rec::after {
  content: '';
  background-color: var(--accent-color);
  border-radius: 50%;
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  justify-self: center;
  align-self: center;
}

.header__theme-menu{
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  align-content: center;
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: transparent;
  text-transform: lowercase;
  margin-block-end: 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover)
}

.header__theme-menu-button:focus {
  outline: transparent;
  border-bottom: 1px solid var(--button-color);
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--main-font);
  font-size: clamp(116px, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__subtitle {
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  inline-size: clamp(355px, 47.46vw, 491px);
  align-self: center;
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
}

.section {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(27px, 1fr));
}

.section__title {
  font-family: var(--main-font);
  color: var(--section-title-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-block-start: 40px;
  margin-block-end: 10px;
}

.section__subtitle{
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-block-start: 10px;
}

.section__subtitle-extra-spacing {
  margin-block-end: 10px;
}

.title-decor-thin {
  font-weight: 400;
}

.section__paragraph {
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 10px 0;
}

.section__pics-template {
  display: grid;
  gap: 10px;
  padding-block-end: 40px;
  grid-auto-flow: dense;
}

.section__pics-title {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-block-start: 40px;
  margin-block-end: 10px;
} 

.picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  place-self: center;
  }

@media (width >= 768px) {
  .rec {
    top:20px;
  }

  .page {
    padding: 0 20px;
  }

  .header {
    padding: 20px 0;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  } 

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .section {
    margin-block-end: 30px;
  }

  .section-transformer {
    grid-template-columns: 32% 1fr; 
    align-items: start;
  }

  .section-transformer__content {
    grid-column: 2/3;
  }

  .section__title {
    grid-row:  1/6;
  }

  .title-short {
    width: 32%;
  }
  
  .specific-section__subtitle {
    margin-block-start: 50px;
  }

  .section__pics-template {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    grid-auto-flow: dense;
  }

  .picture:nth-child(1) {
    grid-column: span 2;
  }

  .picture:nth-child(2) {
    grid-row: span 2;
  }

  .picture:nth-child(3) {
    grid-row: span 2;
  }

  .picture:nth-child(5) {
    grid-column: span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}
    
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__theme-menu-button {
    margin: 0;
  }

  .header__subtitle {
    margin-block-start: 11.133vw;
    margin-block-end: 13.086vw;
  }

  .first-section__subtitle {
    margin-block-start: 40px;
  }

  .section-middle {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .section-middle .section__title {
    grid-column: 1/4;
    inline-size: 31.97%;
  }
}